/* classe → tem mais de um (é sempre com um .)
id → único (é sempre com uma #)*/
body {
	font-family: "Inter", sans-serif;
}

#container {
	display: flex;
	flex-direction: row;
}

#container > aside > picture > img {
	width: 15rem;
	height: 15rem;
	border: 1rem solid white;
	border-radius: 50%;
	margin: 1rem 0;

	/*
		margin: ↑ → ↓ ←
		margin: ↑↓  ←→
		margin-top: ↑
		margin-right: →
		margin-bottom: ↓
		margin-left: ←
	
	*/
}

.image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.side-bar {
	background-color: #cbcaff;
}

.info {
	display: flex;
	flex-direction: column;

	padding: 1rem 3rem;
}

.info > h3 {
	font-size: 2rem;
	margin: 1rem 0;
}

.info > a {
	text-decoration: none;
	color: black;
}

.info > ul {
	margin: 0;
	padding: 0;
}

.info > ul > li {
	list-style-type: none;
}

.info > p {
	margin: 0;
}

/* MAIN SECTION */
#main-section {
	padding: 2rem;
}

.title {
	color: gray;
	font-size: 8rem;
	margin: 2rem 0 0 0;
	text-align: center;
}

.title::after {
	content: "";
	display: inline-block;
	width: 70%;
	height: 1rem;
	background-color: #cbcaff;

	text-align: center;
}

.title > span {
	color: black;
}

.soft-skills > h2 {
	font-size: 2rem;
	margin: 0;
}

.experiencia > h4 {
	font-size: 2rem;
	font-weight: 400;
	margin: 0.5rem 0;
}

.experiencia > h5 {
	font-size: 1.25rem;
	font-weight: 400;
	margin: 0;
}

.experiencia > ul {
	display: flex;
	flex-direction: column;

	gap: 0.5rem;
}
